<html>
<head>
<title>
LotusBCH-Website
</title>
</Head>
<style>
*{
background-image: url('../html/imgs/download.jpeg');
}
h1{
font-family: consolas;
font-size: 4.2rem;
text-align: center;
text-shadow: 3px 1.5px 3px white;
}
p{
text-shadow: 2px 3px 4px black;
}
</style>
<Body>
<h1>What is the main motive to make LotusBCH.</h1>
<p><font color = "cyan">The Lotus flower is regarded in many different cultures, especially in eastern religions, as a symbol of purity, enlightenment, self-regeneration and rebirth.</p>
<h2> How was lotus flower created?</h2>
